{{define "title"}}О проекте{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Разработка автоматизированного рабочего места (АРМ) бухгалтера организации</p>
	<p>Целью данного дипломного проекта является разработка автоматизированного рабочего места (АРМ) бухгалтера организации по проведению основных операций в банковской системе. </p>
	<p>Проект на языке GO.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}