{{define "title"}}Добавить счет{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
    <div class="page-header">
        <h1>Добавить счет</h1>
    </div>

    <form id="form" method="post">
        <div class="form-group">
            <label for="number">Счет</label>
            <div>
                <input type="number" name="number" id="number" class="form-control" placeholder="Введите 20-значный номер..." required>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Название счета</label>
            <div>
                <input type="text" name="name" id="name" class="form-control" placeholder="Введите название счета..." required>
            </div>
        </div>
        <div class="form-group">
            <label for="type">Тип счета</label>
            <div>
                <select name="type" id="type" class="form-control" required>
                    <option value="active">Активный</option>
                    <option value="passive">Пасивный</option>
                </select>
            </div>
        </div>

        <a title="Save" class="btn btn-success" role="submit" onclick="document.getElementById('form').submit();">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сохранить
        </a>
        <a title="Back to Notepad" class="btn btn-danger" role="button" href="{{$.BaseURI}}accounts">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Отмена
        </a>

        <input type="hidden" name="token" value="{{.token}}">
    </form>

{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}